footer {
    height: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    color: #aaa;
    text-align: center;
    
}

#navigation-menu {
    margin-right: 100px;
}

.spacer-small {
    margin-top: 20px;
}

.spacer-medium {
    margin-top: 40px;
}

.spacer-large {
    height: 60px;
    margin-top: 60px;
}

.alert-box.error {
    background-color: white;
    border: 1px solid black;
    color: red;
}


